$red: #f20000;
.homepage_container {
  display: block;
  width: 100%;
  height: 100vh;

  .entrance {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: #fff;
    flex-direction: inherit;
    overscroll-behavior: none;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("@/assets/image/City Night.png");
    background-size: cover;
    background-position: 0% 100%;
    &.active {
      opacity: 1;
    }
    &.night {
      .title {
        color: #fff;
        text-shadow: #000 2px 2px 2px;
      }
      .startbutton {
        border: 2px solid #fff;
      }
    }
    .title {
      color: $red;
      font-size: 1.2rem;
      font-family: "Eurostile Extended Regular";
      position: absolute;
      top: 40%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
      transition: top 0.3s;
      transition: opacity 0.3s;
    }
    .startbutton {
      display: none;
      width: 1rem;
      height: 1rem;
      border: 2px solid $red;
      border-radius: 50%;
      transform: scale(0, 0);
      transition: all 0.8s ease;
      animation: startbutton infinite 2.5s ease-out;
      cursor: pointer;
      top: 3rem;
      position: relative;
      &.active {
        display: block;
      }
    }
  }

  .main {
    display: none;
    width: 100%;
    height: 100%;
    background-image: url("@/assets/image/City Overview 1080p.jpg");
    background-size: cover;

    &.active {
      display: block;
    }
    .menu {
      opacity: 0;
      width: 12rem;
      height: 100vh;
      left: -10rem;
      position: absolute;
      transition:
        left 0.7s ease,
        opacity 0.3s,
        background-position 3s;
      &.active {
        left: 0;
        opacity: 1;
        .menubg {
          .mask {
            .bg1,
            .bg2 {
              background-position: 0 0;
            }
          }
        }
      }
      .menubg {
        width: 100%;
        height: 100%;
        span {
          display: block;
          background-color: red;
          position: absolute;
        }
        .mask {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }
        .right-glow {
          position: absolute;
          inset: 0;

          background:
            linear-gradient(
                to bottom,
                transparent 0%,
                #fff 50%,
                transparent 100%
              )
              100% / 100% 300% no-repeat,
            linear-gradient(
                to bottom,
                transparent 0%,
                rgba(255, 255, 255, 0.9) 50%,
                transparent 100%
              )
              100% / 100% 300% no-repeat;

          background-size:
            100% 300%,
            100% 300%;
          animation:
            verticalFlow 20s linear infinite,
            randomSize 40s ease-in-out infinite;

          /* 超窄右侧区域 */
          -webkit-mask: linear-gradient(to right, transparent 80%, #fff 100%);
          clip-path: polygon(0% 0%, 100% 0%, 96% 100%, 0% 100%);

          /* 轻微模糊让亮线变柔和 */
          filter: blur(1px) brightness(4);
          box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.6);
          @keyframes verticalFlow {
            0%,
            100% {
              background-position:
                left -100%,
                right -100%;
            }
            50% {
              background-position:
                left 100%,
                right 100%;
            }
          }

          @keyframes randomSize {
            0%,
            100% {
              background-size:
                100% 150%,
                100% 150%;
            }
            20% {
              background-size:
                100% 120%,
                100% 120%;
            }
            40% {
              background-size:
                100% 180%,
                100% 180%;
            }
            60% {
              background-size:
                100% 130%,
                100% 130%;
            }
            80% {
              background-size:
                100% 170%,
                100% 170%;
            }
          }
        }
        .bg1 {
        }
        .bg1,
        .mask .bg1 {
          width: 10rem;
          height: 100vh;
          clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
          left: 0;
          top: 0;
          filter: drop-shadow(0 0 15px rgba(52, 152, 219, 1));
        }
        .bg2,
        .mask .bg2 {
          width: 2rem;
          height: 11rem;
          clip-path: polygon(40% 0%, 90% 0%, 70% 45%, 0% 100%);
          left: 9.8rem;
          top: 0;
        }
        .mask .bg1,
        .mask .bg2 {
          transition: background-position 0.7s ease;
          background-image: url("@/assets/image/City Overview 1080p.jpg");
          background-position: 10rem 0;
          object-fit: cover;
          mix-blend-mode: multiply; /* 这里可以改为 screen、overlay、darken 等 */
        }

        .title {
          font-size: 0.5rem;
          font-family: "Eurostile Extended Regular";
          position: absolute;
          top: 0.5rem;
          left: 1rem;
          z-index: 1;
          color: #fff;
        }
        .blend {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  .bg {
    .stripe {
      ul {
        li {
          width: 2px;
          height: 3rem;
        }
      }
    }
  }
}

@keyframes startbutton {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
  99% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }

  100% {
    transform: scale(1, 1);

    opacity: 0;
  }
}
