body {
  overscroll-behavior: none;
}
@font-face {
  font-family: "Good Times Rg";
  src: url("@/assets/font/Good Times Rg.otf") format("opentype");
}
@font-face {
  font-family: "Good Times Rg";
  src: url("@/assets/font/anisette-regular.otf") format("opentype");
}
@font-face {
  font-family: "Eurostile Extended Regular";
  src: url("@/assets/font/Eurostile Extended Regular.ttf") format("truetype");
}

#app {
  width: 100%;
  background-color: #fff;
  // min-height: 100vh;
  font-size: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
h5 {
  margin: 0;
}
code,
kbd,
samp {
  text-wrap: auto;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus {
  outline: none;
  -webkit-appearance: none;
}

.common_button_item {
  display: inline-block;
  padding: 0 0.3rem;
  height: auto;
  font-size: 0.5rem;
  color: #000;
  text-align: center;
  border-radius: 0.3rem;
  background-color: transparent;
  transition: 0.1s all;
  font-size: 0.7rem;
  &:active {
    background-color: #ccc;
  }
  // .van-icon {
  //   font-size: 0.7rem;
  //   color: #999;
  // }
}

.backgroundcolor {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background:
    radial-gradient(circle at 100% 0, #efe8eb 0, rgba(239, 232, 235, 0) 33%),
    radial-gradient(circle at 100% 25%, #e8ebea 0, hsla(160, 7%, 92%, 0) 39%),
    radial-gradient(
      circle at 100% 36%,
      hsla(160, 7%, 92%, 0.6) 0,
      hsla(160, 7%, 92%, 0) 38%
    ),
    linear-gradient(180deg, #efeaef, #dcdcf5 99%);
}
